<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6444ab55f7.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <title>Meals Ready</title>
    <script>
        function makeAJAXRequest(method, url, data) {
            if (data) { // Make an AJAX call using the provided data & method
                console.log("Adding: " + data.name);
                fetch(url, {
                    method: method,
                    body: JSON.stringify(data),
                    headers: { 'Content-Type': 'application/json' }
                })
                    .then(response => response.json())
                    .then(json => {//responds with number of items in cart
                        $(".total").text(`Total: ${json.data.total}`);
                        $("#list").empty();//emptys old container
                        var htmlStr = ""; //creates a empty html string to add to list div

                        //Populates HTML string. This prints each item to screen. 
                        (json.data.cart).forEach(x => {
                            htmlStr += '<div class="row">';
                            htmlStr += '<div class="col-md-3">';
                            htmlStr += '<img class="img-fluid" src="/imgs/' + x.img + '" alt="' + x.name + '">';
                            htmlStr += '</div><div class="col-md-3">';
                            htmlStr += '<h3>' + x.name + '</h3></div>';
                            htmlStr += '<div class="col-md-3">';
                            htmlStr += ' <h4>$' + x.price + '</h4>';
                            htmlStr += '</div><div class="col-md-3">';
                            htmlStr += `<button  type="button" onclick='removeFromCart("${x.name}")'>Remove from Cart</button>`;
                            htmlStr += '</div></div><hr>';
                        });

                        //sets the HTML inside "list" div
                        $("#list").html(htmlStr);
                    }).catch((err) => {
                        console.log("Error Fetching");
                        alert(err.message);
                    });

            } else {  // Make an AJAX call without providing data using the method
                fetch(url, { method: method })
                    .then(response => response.json())
                    .then(json => {
                        console.log(json);
                    }).catch((message) => {
                        alert(message);
                    });
            }
        }
        //makes ajax call to remove a certain item by name
        function removeFromCart(data) {
            console.log("Calling add with: " + data);
            makeAJAXRequest("POST", "/removeItem", { name: data });
        }
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top">
        <a href="../index.hbs" class="navbar-brand"><img src="/img/logo1.png" alt=""></a>
        <span class="nav-brand" style="font-size: 30px;"><a href="../index.hbs">Meals Ready</a></span>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapse-container" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="../index.hbs" class="nav-link bold">Home</a>
                </li>
                <li class="nav-item">
                    <a href="../packages.hbs" class="nav-link bold">Packages</a>
                </li>
                <li class="nav-item">
                    <a href="../signup.hbs" class="nav-link bold">Sign up</a>
                </li>
                <li class="nav-item">
                    <a href="../about.hbs" class="nav-link bold">About</a>
                </li>
                <li class="nav-item login-btn bold">
                    <a href="../login.hbs" class="nav-link bold">Log in</a>
                </li>
                {{!-- <button class="login-btn bold" type="button">Log
                    in</button> --}}
            </ul>

        </div>
    </nav>

    <section class="hero_section hero_section_packages">
    </section>

    <section>
        <div class="heading-container">
            <h1 class="text-center bold">My Cart</h1>
            <h2 class="total" style="color: rgb(233, 93, 107);">Total: {{data.total}}</h2>
            <div class="row">
                <div class="col-md-3">
                    <h2>Image</h2>
                </div>
                <div class="col-md-3">
                    <h2>Package</h2>
                </div>
                <div class="col-md-3">
                    <h2>Price</h2>
                </div>
            </div>
        </div>

        <hr>
        <div id="list">
            {{#each data.cart}}
            <div class="row">
                <div class="col-md-3">
                    <img class="img-fluid" src="{{img}}" alt="{{name}}">
                </div>
                <div class="col-md-3">
                    <h3>{{name}}</h3>
                </div>
                <div class="col-md-3">
                    <h4>${{price}}</h4>
                </div>
                <div class="col-md-3">
                    <!--Add a button to call our ajax functions-->
                    <button type="button" onclick='removeFromCart("{{name}}")'>Remove from Cart</button>
                </div>
            </div>
            <hr>
            {{else}}
            <div class="row">
                <div>
                    <h3>Cart is Empty</h3>
                </div>
            </div>
            {{/each}}
        </div>
        <hr>
    </section>

    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="footer-about flex-footer">
                    <h2 class="bold">About</h2>
                    <p class="pointerable light">Learn more about us</p>
                    <p class="pointerable light">Discount</p>
                    <p id="copyright">Minh Triet
                        Nhan, Copyright &copy; 2020 </p>
                </div>
                <div class="footer-help flex-footer">
                    <h2 class="bold">Help & Support</h2>
                    <p class="pointerable light">FAQ</p>
                    <p class="pointerable light">Contact us</p>
                </div>
                <div class="footer-subscription flex-footer">
                    <h2 class="bold">Subscribe for more detail!</h2>
                    <p class="light">Subscribe to our newsletter to get updates on newest packages as well as discounts.
                    </p>
                    <form method="POST" action="">
                        <input type="email" placeholder="Enter email">
                        <input type="submit" value="Subscribe">
                    </form>
                    <div class="social-media">
                        <i class="fab fa-facebook pointerable"></i>
                        <i class="fab fa-instagram pointerable"></i>
                        <i class="far fa-paper-plane pointerable"></i>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>