<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6444ab55f7.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <title>Meals Ready</title>
    <script>
        function makeAJAXRequest(method, url, data) {
            if (data) { // Make an AJAX call using the provided data & method
                console.log("Adding: " + data.name);
                fetch(url, {
                    method: method,
                    body: JSON.stringify(data),
                    headers: { 'Content-Type': 'application/json' }
                })
                    .then(response => response.json())
                    .then(json => {//responds with number of items in cart 
                        //changes the number beside the cart
                        $("i.cart-icon").text(`${json.data}`);
                    }).catch((err) => {
                        console.log("Error Fetching");
                        alert(err.message);
                    });

            } else {  // Make an AJAX call without providing data using the method
                fetch(url, { method: method })
                    .then(response => response.json())
                    .then(json => {
                        console.log(json);
                    }).catch((message) => {
                        alert(message);
                    });
            }
        }
        //makes ajax call to add a certain item by name to cart
        function addToCart(data) {
            console.log("Calling add with: " + data);
            makeAJAXRequest("POST", "/addPackage", { name: data });
        }

    </script>

</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top">
        <a href="../index.hbs" class="navbar-brand"><img src="/img/logo1.png" alt=""></a>
        <span class="nav-brand" style="font-size: 30px;"><a href="../index.hbs">Meals Ready</a></span>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse collapse-container" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="../index.hbs" class="nav-link bold">Home</a>
                </li>
                <li class="nav-item">
                    <a href="../packages.hbs" class="nav-link bold">Packages</a>
                </li>
                <li class="nav-item">
                    <a href="../signup.hbs" class="nav-link bold">Sign up</a>
                </li>
                <li class="nav-item">
                    <a href="../about.hbs" class="nav-link bold">About</a>
                </li>
                <li class="nav-item login-btn bold">
                    <a href="../login.hbs" class="nav-link bold">Log in</a>
                </li>
                {{!-- <button class="login-btn bold" type="button">Log
                    in</button> --}}
            </ul>

        </div>
    </nav>

    <section class="hero_section hero_section_packages">
    </section>

    <section>
        <div class="form-add-packages">
            <div class="package-detail">
                <a href="/cart"><i class="fas fa-shopping-cart cart-icon"
                        style="font-size: 25px; color: black; float: right;"></i></a>
                <h1 class="bold text-center">Package Detail</h1>

                <div class="packages-divide-line"></div>
                <div class="package-detail-container">
                    <div class="package-detail-img"><img src={{data.image}} alt=""></div>
                    <div class="package-detail-info">
                        <h4 class="x-bold" style="margin: 0 0 20px 0;">{{data.name}}</h4>
                        <p class="normal" style="margin: 0 0 10px 0;">{{data.description}}</p>
                        <p class="price bold" style="margin: 0;">$ {{data.price}}</p>
                        <button class="login-btn-2" type="button" onclick='addToCart("{{data.name}}")'>Add to
                            Cart</button>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="footer-about flex-footer">
                    <h2 class="bold">About</h2>
                    <p class="pointerable light">Learn more about us</p>
                    <p class="pointerable light">Discount</p>
                    <p id="copyright">Minh Triet
                        Nhan, Copyright &copy; 2020 </p>
                </div>
                <div class="footer-help flex-footer">
                    <h2 class="bold">Help & Support</h2>
                    <p class="pointerable light">FAQ</p>
                    <p class="pointerable light">Contact us</p>
                </div>
                <div class="footer-subscription flex-footer">
                    <h2 class="bold">Subscribe for more detail!</h2>
                    <p class="light">Subscribe to our newsletter to get updates on newest packages as well as discounts.
                    </p>
                    <form method="POST" action="">
                        <input type="email" placeholder="Enter email">
                        <input type="submit" value="Subscribe">
                    </form>
                    <div class="social-media">
                        <i class="fab fa-facebook pointerable"></i>
                        <i class="fab fa-instagram pointerable"></i>
                        <i class="far fa-paper-plane pointerable"></i>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</body>

</html>